%html
  %head
    %title ICRM:Widget тест
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet")
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    -#%script(src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js")
  %body
    .container
      %h2
        ICRM-Client
        %small Тест виджета

      %button.btn{:onclick=>"ICRMClient.TestHelpers.SendTestNotificatoin()"} Отправить нотификацию
      %br
      %button.btn{:onclick=>"ICRMClient.TestHelpers.SendChatMessage()"} Сообщение с сервера
      %br
      %button.btn{:onclick=>"ICRMClient.Chat.Start()"} Чат от менеджера

    :javascript
      window.ICRM_Settings = {
        // TODO: The current logged in user's email address.
        email: "john@example.com",

        // TODO: The current logged in user's names
        first_name: "John",
        last_name: "Abama",

        // TODO: The current logged in user's unique key (identificator)
        user_hash: "unique_user_idenfiticator",

        // TODO: The current logged in user's sign-up date as a Unix timestamp.
        created_at: 1234567890,

        // TODO OPTIONAL: The current logged in user's company name. Set up if exists.
        company_name: "John's company",
        // TODO OPTIONAL: The current logged in user's company unique key (identificator). Set up if exists.
        company_hash: "unique_company_identificator",

        // Don't change this
        app_key: "f71809f7311fc105bc1657c63e2c78e3ff6005c36b8d317a",

        //whether to show chat widget or not
        widget: true
      };

      (function(){
        function l(){
          var s=document.createElement('script');
          s.type='text/javascript';
          s.async=true;
          s.src="/assets/v1.js";

          var x=document.getElementsByTagName('script')[0];
            x.parentNode.insertBefore(s,x);
        }

        if(window.attachEvent){ // IE
          window.attachEvent('onload',l);
        }else{
          window.addEventListener('load',l,false);
        }
      })();
