%button.btn{:onclick=>"ICRMClient.TestHelpers.SendTestNotificatoin()"} Отправить нотификацию
%br
%button.btn{:onclick=>"ICRMClient.TestHelpers.SendChatMessage()"} Сообщение с сервера
%br
%button.btn{:onclick=>"ICRMClient.Chat.Start()"} Чат от менеджера
